body{
	background-image: url("5594016.jpg");
	background-repeat: no-repeat;
	/*background-size: cover;*/
	margin: 0;
	padding: 0;
}

.header{
	display: flex;
    align-items: center;
}

.map{
	margin-top: 100px! important;
	height: 850px;
}

.nav{
	height: 800px;
}

.logo{
	height: 150px;
	width: 150px;
}

.city{
	font-family: Noto Sans;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

